<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <!-- Existing nav items -->
    </ul>
    <span class="navbar-text ms-auto">
        @(User.Identity.IsAuthenticated ? User.Identity.Name : "Guest")
    </span>
</div>